*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1440px;
    font-family: 'Lato', sans-serif;
}

header {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.logo {
    width: 20rem;
}

.searchbar-and-filters {
    display: flex;
    flex-wrap: wrap;
    margin : 0 2rem 2rem 2rem;
}

form {
    position: relative;
    width: 100%;
    margin-bottom : 1rem;
}

#recipe-search {
    padding: 1.5rem;
    width: 100%;
    border: none;
    background-color: #E7E7E7;
    border-radius: 5px;
    font-size: 18px;
}

.search-icon {
    position: absolute;
    top: .6rem;
    right: 1rem;
    font-size: 32px;
}

.filters-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap : 1rem;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap : 1rem;
    width: 100%;
}


.filter {
    padding : 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 1rem;
    background-color: #68D9A4;
    width: 100%;
    font-size: 18px;
    color : white;
    position: relative;
}

.filter p {
    margin : 0;
}

.ingredient-filter {
    background-color: #3282F7;
}

.ustensil-filter {
    background-color: #ED6454;
}

.filter i {
    cursor: pointer;
}

.recipes-cards-container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin : 0 2rem 2rem 2rem;
}

.recipe-card {
    width: 100%;
}

.recipe-card-placeholder {
    height: 178px;
    background-color: #C7BEBE;
    border-radius: 5px 5px 0 0;
}

.recipe-card-text-container {
    background-color: #E7E7E7;
    padding: 1.5rem;
    border-radius: 0 0 5px 5px;
    height: 230px;
}

.recipe-card-text-container h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    margin: 0;
}

.recipe-informations {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.recipe-time {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.6px;
}

.recipe-how-to {
    display: flex;
    flex-direction: row-reverse;
    font-size: 12px;
    width: 100%;
}

.recipe-how-to ul,
.recipe-how-to p {
    width: 100%;
}

.recipe-how-to ul {
    padding: 0;
    list-style-type: none;
}

.recipe-how-to p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    max-height: 110px;
    font-family: 'Roboto', sans-serif;
}

.ingredient-name {
    font-weight: 700;
}

/* A RANGER + VERIF MOBILE FIRST*/

.ingredients-list-container, .appliances-list-container, .ustensils-list-container {
    position: absolute;
    z-index : 1;
    width: 100%;
    top : 2.7rem;
    left : 0;
    display: none;
    padding : 0 1rem 1rem 1rem;
    border-radius: 5px;
}

.ingredients-list-container {
    background-color: #3282F7;
}

.appliances-list-container {
    background-color: #68D9A4;
}

.ustensils-list-container {
    background-color: #ED6454;
}

.ingredients-list, .appliances-list, .ustensils-list {
    padding : 0;
    margin : 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
}

.ingredients-list li, .appliances-list li, .ustensils-list li {
    width: calc(100%/3);
    cursor: pointer;
}

.ingredient-input, .appliance-input, .ustensil-input {
    display: none;
    outline: none;
    border: none;
    color : white;
    width: 100%;
}

.ingredient-input {
    background-color: #3282F7;
}

.appliance-input {
    background-color: #68D9A4;
}


.ustensil-input {
    background-color: #ED6454;
}

.visible {
    display: unset;
}

.hidden {
    display: none;
}

.expand {
    width: 100%;
}

.ingredient-input::placeholder, .appliance-input::placeholder, .ustensil-input::placeholder {
    color : rgba(255, 255, 255, 0.8);
}

.filter li::first-letter {
    text-transform: capitalize;
}

/* SUITE */

.selected-filters-container {
    gap : .5rem;
    display: none;
}

.container-visible {
    display: flex;
    flex-wrap: wrap;
}

.selected-filters-container span { 
    padding : .7rem;
    border-radius: 5px;
    color : white;
    display: flex;
    gap : .3rem;
    align-items: center;
    font-size: 14px;
}

.selected-filters-container span i {
    cursor: pointer;
}

.appliance-selected-item {
    background-color: #68D9A4;
}

.ingredient-selected-item {
    background-color: #3282F7;
}

.ustensil-selected-item {
    background-color: #ED6454;
}

.no-match-message {
    cursor: default !important;
}

@media screen and (min-width: 769px) {
    .recipe-card {
        width: calc((100% / 2) - (50px / 2));
    }
    .filter {
        font-size: 18px;
        padding : 1rem;
    }
    .filter p {
        margin : 1rem 0;
    }
    .ingredients-list-container, .appliances-list-container, .ustensils-list-container {
        top : 2.6rem;
    }
    .ingredients-list, .appliances-list, .ustensils-list {
        font-size: 15px;
    }
}

@media screen and (min-width: 1025px) {
    .recipe-card {
        width: calc((100% / 3) - (50px * 2 / 3));
    }
    .filter {
        width: 200px;
        padding : 1rem;
    }
    .ingredients-list-container, .ustensils-list-container, .appliances-list-container {
        width: 500px;
        top : 5rem;
    }
    .expand {
        width: 500px;
    }
}

@media screen and (min-width: 1201px) {
    .ingredients-list-container, .ustensils-list-container, .appliances-list-container {
        width: 700px;
    }
    .expand {
        width: 700px;
    }
}